body{
	line-height: 15px;
	background-color: #E6EAE8;
}
.top_bar{
	width: 100%;
	min-width: 1060px;
	height: 60px;
	background-color : #b89574;
	border-bottom: 5px solid #E9DFD5;
	margin: 0 0 10px 0;
	display: inline-flex;
	position: fixed;
	z-index: 10;
	padding: 5px;
}
.logo a{
	position: relative;
	top: 7px;
}
nav{
		float:right;
		right : 1px;
		position: absolute;
		margin: 10px;
		
}
.tab-content {
	margin-top: 25px;
}
nav a{
	position: relative;
	color: #000;
	text-decoration: none;
	font-size: 20px;
}

nav a:hover{
	border-bottom: 7px solid #e67e22;
	color :  #fff;
}
.wrapper {
	margin : auto;
	top : 55px;
	position: relative;
	padding: 0 10px;
	width: 75%;
	min-width: 950px;
	
}

.column {
	background-color: #fff;
	padding: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: #D3D3D3;
	border-radius: 5px;
	box-shadow: 5px 10px 8px 5px #cacaca;
	z-index: -1;
}
.user_details{
	width: 250px;
	height: 300px;
	float: left;
	padding: 10px;
}

.user_details_left_right{
	width: 120px;
	display: block;
	position: absolute;
}

.user_details img {
	height: 125px;
	width: 200px;
	border-radius : 10px;
	margin: auto;
	
}
.main_column {
	
	float: right;
	width: 82%;
	min-height: 300px;
}
.main_column2 {
	
	float: left
	width:30%;
	min-height: 300px;
}
.post_form {
	
	width:100%;
}
.post_form textarea {
	width : 85%;
	height: 60px;
	border-radius: 5px;
	border-right: 5px;
	border: 1px solid #d3d3d3:
	font-size: 12px;
	padding: 5px;
}
.profile_main_column {
	min-width: 675px;
	float: left;
	width: 70%;
	z-index: -1;

}
.post_form input[type="submit"] {
	width: 12%;
	height: 60px;
	border: none;
	border-radius: 3px;
	background-color: #b89574;
	font-family: 'Bellota-BoldItalic', sans-serif;
	color: #fff;
	text-shadow: #73B6E2 0.5px 0.5px 0px;
	font-size: 90%;
	position: absolute;
	outline: 0;
	margin: 0;
}
.post_form input[type="submit"]:active {
	padding: 5px 4px 4px 5px;
}
.status_post {
	width: 99%;
	font-size: 16px;
	font-color: #000;
	padding: 10px 5px;
	min-height: 50px;

	background-color: #ebf6ff;
}

.post_profile_pic {
	float: left;
	margin-right: 7px;
}

.post_profile_pic img {
	border-radius: 5px;
}

#comment_iframe {
	max-height: 250px;	
	width: 100%;
	margin-top: 20px;
}

.comment_section {
	padding: 0 5px 5px 5px;
}

.comment_section img {
	margin: 0 3px 3px 3px;
	border-radius: 3px;
}

.newsfeedPostOptions {
	padding: 3px;
	text-decoration: none;
	color:#fff;
	font-size:16px;
	position: absolute;
	background-color :#b89574;
	cursor: pointer;
	width: 1100;
}
.newsfeedPostOptions iframe{
	border: 0px;
	height: 20px;
	width: 200px;
}

.profile_left {
	top: -10px;
	width: 30%;
	max-width: 230px;
	min-width: 100px;
	height: auto%;
	float: left;
	position: relative;
	background-color: #b89574;
	border-right: 10px solid #b8959;
	color: #CBEAF8;
	margin-right: 20px;
}

.profile_left img {
	min-width: 80px;
	width: 55%;
	margin: 20px;
	border: 5px solid #b89521;
	border-radius: 100px;
}

.profile_info {
	display: list-item;
	background-color: #b89521;
	width: 100%;
	padding: 10px 0 10px 0;
}

.profile_info p {
	margin: 0 0 0 20px;
	word-wrap: break-word;
}

.danger {
	background-color: #e74c3c;
}
.warning {
	background-color: #f0ad4e;
}
.default {
	background-color: #bdc3c7;
}
.success {
	background-color: #2ecc71;
}
.info {
	background-color: #3498db;
}
.deep_blue {
	background-color: #0043f0;
}

.profile_left input[type="submit"] {
	width: 90%;
	height: 30px;
	border-radius: 5px;
	margin: 7px 0 0 7px;
	border: none;
	color: #fff;
}

.search {
	margin:auto;
}

.search #search_text_input {
	border: thin solid #E5E5E5;
  	float: left;
  	height: 25px;
  	outline: 0;
  	width: 400px;
  	border-top-right-radius: 0;
  	border-bottom-right-radius: 0;
  	border-top-left-radius: 3px;
  	border-bottom-left-radius: 3px;
	
}

.button_holder {
	background-color: #F1F1F1;
  	border: thin solid #e5e5e5;
  	cursor: pointer;
  	float: left;
  	height: 24px;
  	text-align: center;
  	width: 50px;
  	border-top-right-radius: 3px;
  	border-bottom-right-radius: 3px;
}

.button_holder img {
	margin-top: 1px;
    width: 20px;
}
.search_results {
	background-color: #fff;
    border: 1px solid #DADADA;
    border-bottom: none;
    border-top: none;
    margin-top: 21px;
}

.search_results_footer{
	padding: 7px 4px 0px 4px;
    height: 30px;
    border: 1px solid #DADADA;
    border-top: none;
    background-color: #20AAE5;
    text-align: center;
}

.search_results_footer a {
	color: #fff;
}

.search_result {
	padding: 10px;
    height: auto;
}



#message_textarea {
	width: 90%;
	margin-right: 8px;
	border-radius: 5px;
	border: 1px solid #D3D3D3;
	font-size: 12px;
}
#message_textarea2 {
	width: 75%;
	margin-right: 8px;
	border-radius: 5px;
	border: 1px solid #D3D3D3;
	font-size: 12px;
}
#message_submit {
	height: 41px;
	width: 45px;
	margin: 0;
	position: absolute;
	border:none;
	background-color: #20AAE5;
	color: #156588;
	border-radius: 5px;
	font-family: 'Bellota-BoldItalic', sans-serif;
	text-shadow: #73B6E2 0.5px 0.5px 0px;
}
.message {
	border: 1px solid #000;
	border-radius: 5px;
	padding: 5px 10px;
	display: inline-block;
	color: #fff;
}

.message#blue {
	background-color: #3498db;
	border-color: #2980b9;
	float: right;
	margin-bottom: 2px;
}
.message#green {
	background-color: #2ecc71;
	border-color: #27ae60;
	float: left;
	margin-bottom: 2px;
}

.loaded_messages {
	height: 100%;
	min-height: 300px;
	max-height: 400px;
	overflow: scroll;
	margin-bottom: 10px;
}

.loaded_conversations {
	max-height: 200;
	overflow: scroll;
}

.user_found_messages {
	border-bottom: 2px solid #D3D3D3;
	padding: 8px 8px 10px 8px;
}

.user_found_messages:hover {
	background-color: #D3D3D3;
}

.user_found_messages img {
	height: 20px;
	width: 20px;
	float: left;
}
.postedImage img {
	max-height: 400px;
    max-width: 100%;
    display: block;
    margin: 5px auto;
}



